body {
  background: url(https://ak3.picdn.net/shutterstock/videos/12227033/thumb/1.jpg) fixed center;
  background-size: 100%;
  font-family: "Helvetica" serif;
}

h1 {
  font-size: 30px;
  font-family: 'Chonburi';
  margin-bottom: 10px;
}

form {
  background-color: #7F7644;
  margin: 50px;
  padding: 15px;
  border: double 3px #FFE03C;
  color: #FFE03C;
  text-align: center;
}

fieldset {
  padding: 10px;
}

input {
  padding: 10px;
  margin-left: 10px;
  border: solid 1px #7F7644;
  border-radius: 3px;
}

button {
  margin: 20px;
  padding: 8px, 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  background-color: #FFEC88;
  color: #7F701E;
}

h2 {
  font-size: 25px;
  font-family: 'Chonburi';
  margin-bottom: 10px;
  padding: 7px;
  background-color: #FFEC88;
  color: #7F701E;
  border: double 5px;
  text-align: center;
}

table {
  margin-bottom: 50px;
}

thead td {
  padding: 7px;
  background-color: #7F7644;
  color: #FFE03C;
  font-weight: bold;
}

td {
  padding: 7px;
  background-color: #FFEC88;
  color: #7F701E;
  border: solid 2px;
}
