body {
  background: url(https://ak3.picdn.net/shutterstock/videos/12227033/thumb/1.jpg) fixed center;
  background-size: 100%;
  font-family: "Helvetica" serif;
}

table {
  margin-top: 100px;
}

thead td {
  padding: 15px;
  background-color: #7F7644;
  color: #FFE03C;
  font-weight: bold;
}

td {
  padding: 20px;
  background-color: #FFEC88;
  color: #7F701E;
  border: solid 2px;
}
