* {
  box-sizing: border-box;
}

body {
  background: url(https://ak3.picdn.net/shutterstock/videos/12227033/thumb/1.jpg) fixed center;
  background-size: 100%;
  font-family: "Times New Roman" sans-serif;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #7F701E;
  border: 3px double #FFEC88;
}

header div {
  margin: 10px 0px 20px 20px;
}

h1 {
  color: #FFEC88;
  font-size: 25px;
  font-family: "Chonburi", cursive;
}

header img {
  width: 150px;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav img {
  width: 35px;
}

.locations {
  height: 500px;
  width: 220px;
  float: left;
  margin: 130px 30px 30px 0;
  padding: 10px;
  background: #7F701E;
  color: #FFEC88;
  text-align: center;
  letter-spacing: 2px;
  border: 3px double;
}

.locations h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.locations ul {
  margin-top: 20px;
  line-height: 35px;
}

.locations li {
  font-size: 15px;
}

.locations span {
  font-size: 12px;
  font-style: italic;
}

.hero_image {
  width: 640px;
  margin: 130px 30px 0 0;
  float: left;
}

.hero_image img {
  width: 640px;
}

.sidebar {
  width: 220px;
  margin-top: 125px;
  margin-right: 130px;
  float: right;
  text-align: center;
}

.sidebar img {
  width: 200px;
  margin: 5px;
}

.blurb {
  height: 220px;
  width: 640px;
  float: left;
  margin-top: 30px;
  top: 220px;
  padding: 10px;
  background-color: #FFEC88;
  color: #7F701E;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
  border: 3px double #7F701E;
}

div.subbanner {
  height: 120px;
  width: 640px;
  margin: 30px 0 0 260px;
  text-align: center;
  float: left;
}

div.subbanner img {
  width: 320px;
}

.hours {
  height: 80px;
  width: 640px;
  margin: 30px 0 70px 260px;
  padding: 10px;
  float: left;
  background-color: #FFEC88;
  color: #7F701E;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  border: 3px double #7F701E;
}

.hours h2 {
  font-size: 25px;
  letter-spacing: 5px;
}

footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #7F701E;
  color: #FFEC88;
  text-align: right;
  border: 3px double #FFEC88;
}

footer p {
margin-right: 20px;
font-size: 20px;
}
